@model List<PaystackPaymentIntegration.Models.DTOs.Readonly.TransactionDTO>

@{
    ViewBag.Title = "get_all_transaction";
}

<h2>All Transaction(s)</h2>

<p>
    @Html.ActionLink("Make New Payment", "make_payment", null, new { @class = "btn btn-success btn-sm" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Reference")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Amount(#)")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.reference
            </td>
            <td>
                @item.email
            </td>
            <td>
                @item.amount.ToString("#,##.00")
            </td>
            <td>
                @Html.ActionLink("View Details", "payment_details", new { tranxRef = item.reference }, new { @class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }

</table>

@section Scripts {

    <script>

        $(function () {

            function VerifyTransaction(tranxRef) {
                var url = "/Transaction/payment_details/" + tranxRef;
                return $.ajax({
                    type: "GET",
                    url: url,
                    data: JSON.stringify({ email: e, amount: a }),
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8'
                });
            }

            $("#btnViewDetails").click(function (e) {
                e.preventDefault();

                console.log(VerifyTransaction("fds6d55"));
                //get transaction details
                $.when(VerifyTransaction("fds6d55")).then(function (response) {
                    if (response.error == false) {

                        //save payment to database
                        $.when(SaveToDB(email, amount, response.result.Data.Reference)).then(function (res) {
                            if (res.error == false) {
                                console.log(res.result);
                            } else {
                                console.log(res.result);
                            }
                        }).fail(function (err) {
                            console.log(err);
                        });

                        //redirect to payment gateway page
                        window.location.href = response.result.Data.AuthorizationUrl;
                    } else {
                        $(".redirect-message").hide();
                    }
                }).fail(function () {
                    $(".redirect-message").hide();
                });
            });
        });

    </script>
}